:root {
  --primary-color: #3bcd69;
  --background-color: #010101;
}

body {
  background: var(--background-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "VT323", monospace;
  color: var(--primary-color);
}

h1 {
  font-size: 140px;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
  margin-top: 20px;
}

h3 {
  font-size: 22px;
  margin: 20px 0;
}

.container {
  margin: 200px auto 400px;
}

.hello {
  margin-bottom: -10px;
}

.btn {
  font-size: 25px;
  color: var(--primary-color);
  background: none;
  border: solid var(--primary-color);
  border-width: 1px;
  margin: 35px 0;
  margin-right: 50px;
  padding: 20px 30px;
  transition-duration: 0.4s;
}

.btn:hover {
  color: var(--background-color);
  background: var(--primary-color);
}

.works-title {
  font-size: 70px;
}
