:root {
  --primary-color: #50fa7b;
  --secondary-color: #ff79c6;
  --text-highlight: #ff5555;
  --value-color: #bd93f9;
  --item-color: #f1fa8c;
  --background-color: #282a36;
}

body {
  background: var(--background-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "VT323", monospace;
  color: var(--primary-color);
}

h1 {
  font-size: 140px;
  margin-bottom: 10px;
  color: var(--text-highlight);
}

h2 {
  font-size: 28px;
  margin-top: 20px;
}

h3 {
  font-size: 22px;
  margin: 20px 0;
}

.container {
  margin: 200px auto 90px;
}

.hello {
  margin-bottom: -10px;
}

.btn {
  font-size: 25px;
  color: var(--secondary-color);
  background: none;
  border: solid var(--secondary-color);
  border-width: 1px;
  margin: 35px 0;
  margin-right: 50px;
  padding: 20px 30px;
  transition-duration: 0.4s;
}

.btn:hover {
  color: var(--secondary-color);
  background: #44475a;
}

.works-title {
  font-size: 70px;
}

img {
  max-width: 300px;
  border-radius: 10px;
  border: solid var(--primary-color);
  margin: 10px auto;
}

a {
  text-decoration: none;
}

.h4 {
  font-size: 34px;
}

.description {
  font-size: 20px;
  color: #6272a4;
}

.work-item {
  height: 560px;
}

.intro {
  margin-bottom: 500px;
}

.credit-links {
  color: var(--secondary-color);
}

.credit-links:hover {
  background: #44475a;
  color: var(--secondary-color);
}

.credits {
  text-align: center;
}

p {
  color: #6272a4;
}

.secondary {
  color: var(--secondary-color);
}
.highlight {
  color: var(--text-highlight);
}
.value {
  color: var(--value-color);
}
.item {
  color: var(--item-color);
}
@media (max-width: 768px) {
  .container {
    margin: 0 auto;
  }
  .intro {
    margin-bottom: 0;
  }

  img {
    display: flex;
    justify-content: center;
    max-width: 250px;
    max-height: 200px;
  }
  .work-item {
    display: block;
    width: 330px;
    height: 450px;
  }
  .credits {
    margin-left: 40px;
    text-align: center;
  }
}

@media (max-width: 414px) {
  .container {
    margin: 0 auto;
    max-width: 350px;
  }
  .btn {
    display: flex;
  }
  .intro {
    margin: 0 auto;
  }
  img {
    display: flex;
    justify-content: center;
    max-width: 200px;
    max-height: 200px;
  }
  .work-item {
    display: block;
    height: 480px;
  }
  .credits {
    text-align: left;
  }
}
